<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
      <br><br><br><br>
          <div class="row">
            <div class="col-md-4"  >
    
                <ul  class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Maid for One/Two BHK flats
                        - Rs 1000-2000</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                        Monthly Service

                        House Sweeping
                        Mopping
                        Vessel Cleaner
                        mention Other requirement(if any) while filling form.

                        
                                                                                                    
                          
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                          </li>
                      
                </ul>
    
    
    
            </div>
            
            <div class="col-md-4" >
    
                <ul class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Maids for 3BHK or Bigger Flats - Rs 2000-3000</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
    
                        Monthly Service

                        Sweeping
                        Mopping
                        Vessel Cleaning
                        mention Other requirements(if any) while filling form.
                        
                        
                        
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                        </li>
                      
                </ul>
             
             </div>
    
             <div class="col-md-4" >
               
                   <ul class="list-group">
                         <li style="height:200px;"class="list-group-item list-group-item-info"><h2> Corporate Booking - Rs 6000-8000</h2></li>
                         <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                              Monthly Service

                              Sweeping
                              Mopping
                              Garbage collection and disposal
                              mention Other requirements(if any) while filling form.
                              
                              
                              
                               <br><br><br>
                               <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
                            </li>
                         
                   </ul>
             
             </div>
    
    
          </div>
    
    <br><br><br>
       </div>
    