

<div class="container-fluid" style="background:orangered;font-family:'Tienne';">
<br>
  <div class="jumbotron">
      <h3>Q1.How HelpingHands Work?</h3>
 
     <p>
      Once you select a service/Offer you are redirected to Booking page.After filling your booking details you submit the form and we get the requests. Then one of our executive will get in touch with you and before confirming.

      If the service is of 'Quick' type then you will get it done asap.
      For 'Monthly' services one of our Area Manager will get at your door step and collect some of your requirements(eg:how you like a service to be done or how many helper do you need for corporate booking).
      This is just one-time-visit so that we can communicate it to our service provider so that it is not your headache anymore.That's it. Enjoy your service and for any further queries or complains reach us at helpinghandscomplain@gmail.com
     </p>
  
</div>




<div class="jumbotron">
     <h3> Q2.Why should client's take our Service?</h3>
     
     <p>
      These are the values HelpingHands works on which make it Unique :

      Hygiene is our first preference.
      We Manage workers holiday in such a way that you get un-interrupted service.
      Trust is more important than money.
      Client Satisfaction is guaranteed. We don't leave you until you get satisfied.
      Price Effective.
      We like to be always on time so that you never to worry about time management.
      Worker are trained for politeness specially so that you feel always better about HelpingHands.
      Basic training is provided to each worker before they get any assignment. Workers first work for a while in our hotels and offices before getting assigned to you.
      You can shift your service any time up until one hour before your actual service time and you will not be charged anything for the same.
      Pay for 30 days and get 30 days complete service regularly or as you wish.
      At any point of time you can ask for a different person to complete your assignment if you don't the one who is already assigned to your service.
      You can change person for as many times as you want without any charges or restriction, until you get satisfied by the service or the service-provider.
     </p>
   </div>
 





<div class = "jumbotron">
  
      <h3>Q3.How employee can be trusted?</h3>
    
  
     <p >
      We got your back on this as you focus on important work and enjoy your service.

      Before assigning a worker to any assignment we have a six step process which you can read on about page.How we hire?
     </p>
     
  
  
</div>




<div class = "jumbotron">
  
     <h3>
      Q4.How HelpingHands accepts payment?
     </h3>
  
     <p>
      We receive both Online and offline payments.

      Online payments will be done on the ID link we will be providing to you once you join one of our services
      For Offline payments Area manager will reach at your doorstep at the your preferred timing.
     </p>
     
  
  
</div>




<div class = "jumbotron">
       <h3>
      Q5.How to be a part of HelpingHands service-provider team?
     </h3>
    
       <p>
      Those who want to apply for service provider will have to go at the bottom of the page and click on the career option.
       </p>
     
</div>
<br>

</div>