<nav  style="font-family:'Krona One'" class="navbar navbar-expand-md bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CAREERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TERMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">FACEBOOK</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">TWITTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">YOUTUBE</a>
          </li>

          <li class="nav-item">
              <a class="nav-link disabled" href="#">INSTAGRAM</a>
            </li>

            

                      
                 
    </ul>


    <div class="container" style="position:relative; margin-left:30%;">
    
    <form action="" >
        <div class="form-group">
        
            <input  placeholder="NAME" type="text" class="form-control" id="name">
          </div>
      <div class="form-group">
        
        <input  placeholder="EMAIL" type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        
        <input placeholder="PHONE" type="text" class="form-control" id="phone">
      </div>
      
      <div class="form-group">
        
        <textarea id="message" placeholder="MESSAGE" class="md-textarea form-control" rows="3"></textarea>
        
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
    
  </nav>