<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
      <br><br><br><br>
          <div class="row">
            <div class="col-md-4"  >
    
                <ul  class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>One Day Cook
                        - Rs 99</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
    
                        One time cook for instant Service

                        Ready to make anything you say(specify while filling form)
                        Freshly cooked at your doorstep
                        Enjoy with your family                                                                               
                          
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                          </li>
                      
                </ul>
    
    
    
            </div>
            
            <div class="col-md-4" >
    
                <ul class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Weekdays Cook - Rs 1000-2000/week</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
    
                        Come home from Work and get food freshly made for you.

                        Food ranges from simple to whatever you like most
                        Weekends also included(if you want fill it in other requirements in form)
                        Trained cook for every taste
                        
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                        </li>
                      
                </ul>
             
             </div>
    
             <div class="col-md-4" >
               
                   <ul class="list-group">
                         <li style="height:200px;"class="list-group-item list-group-item-info"><h2> Monthly Cook - Rs 2000-4000</h2></li>
                         <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                              Monthly service(depends on member in family)

                              Say what you need and we will prepare it before you know it
                              Sit back and enjoy with your family
                              Best Hygienic food prepared
                              
                               
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
                            </li>
                         
                   </ul>
             
             </div>
    
    
          </div>
    
    <br><br><br>
       </div>
    