


<div class="container-fluid" style="font-family:'Tienne';word-spacing:5px; background: orangered;">

<br><br>

  <div class="jumbotron">
    <h1>About Us</h1>
    
    <p>To make this earth a better place we need to collaborate 
      and help each other do what we can do best. With this one 
      vision in mind we at HelpingHands help you focus on what 
      you can do best while we take care of all other small but 
      necessary jobs to be done with 100% efficiency and before 
      you will need it.
      If Everyone will just have to focus on what really 
      mean to them then every one will achieve the heights 
      they have always wanted to be on.
      We would love to be a part of your daily life and serve your needs.</p>
    
    </div>





    <div class="jumbotron">
   <h1>How we Hire?</h1>
    </div>




<div class="container-fluid">
          
  
   <div class="row">
     <div class="col-md-4" >
      
       <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
         
         <div class="card-body">
           <h4 class="card-title">FORM SUBMISSION</h4>
           <p class="card-text">
            First step to join as a worker is form submission in hand at any of our offices.
           </p>
           
         </div>
       </div>

     </div>

     <div class="col-md-4"  >
      
       <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
         
         <div class="card-body">
           <h4 class="card-title">ONLINE VERIFICATION</h4>
           <p class="card-text">
            Second step is the online verification of the user presence and wether the Id submitted exist.
           </p>
           
         </div>
       </div>

     </div>


     <div class="col-md-4" >
      
       <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
         
         <div class="card-body">
           <h4 class="card-title">GOVERNMENT ID VERIFICATION</h4>
           <p class="card-text">
            Third step is Government Id verification
           </p>
           
         </div>
       </div>

     </div>

     
</div>
    



     

 <div class="row">
   <div class="col-md-4" >
    
     <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
       
       <div class="card-body">
         <h4 class="card-title">POLICE VERIFICATION</h4>
         <p class="card-text">
            Fourth step is police verification
         </p>
         
       </div>
     </div>

   </div>

   <div class="col-md-4" >
    
     <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
       
       <div class="card-body">
         <h4 class="card-title">ADDRESS VERIFICATION</h4>
         <p class="card-text">
            Fifth step is local plus permanent address verification
         </p>
         
       </div>
     </div>

   </div>


   <div class="col-md-4" >
    
     <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
       
       <div class="card-body">
         <h4 class="card-title">TRAINING AND AUTHENTICATION</h4>
         <p class="card-text">
            Final step is authenticating the worker for the service they want to provide and train them to be best in their services.

         </p>
         
       </div>
     </div>

   </div>

   


</div>
</div>

<br><br>
</div>