<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
  <br><br><br><br>
      <div class="row">
        <div class="col-md-4"  >

            <ul  class="list-group">
                  <li style="height:200px;" class="list-group-item list-group-item-info"><h2>One Day Service
                        - Rs 200/hr</h2></li>
                  <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">

                        Same Day Service

                        Keep Baby happy and engaged
                        Make them learn new habits
                        Encourage them to talk                                                                                   
                      
                        <br><br><br>
                        <a routerLink="/babysitter1dayform"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>

                      </li>
                  
            </ul>



        </div>
        
        <div class="col-md-4" >

            <ul class="list-group">
                  <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Monthly Part-Time BabySitter
                        - Rs 8000-10000/month</h2></li>
                  <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">

                        Being part of your family to make your baby a better person like you.

                        Encourage baby for good habits
                        Keep baby happy and engaged
                        Take care of fooding of baby

                        <br><br><br>
                        <a routerLink="/babysittermonthlypartform"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>

                    </li>
                  
            </ul>
         
         </div>

         <div class="col-md-4" >
           
               <ul class="list-group">
                     <li style="height:200px;"class="list-group-item list-group-item-info"><h2> Monthly Full-Time BabySitter
                        - Rs 15000-20000/month</h2></li>
                     <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                        Being part of your family to make your baby a better person like you.

                        Encourage baby for good habits
                        Keep baby happy and engaged
                        Take care of fooding of baby
                           
                        <br><br><br>
                        <a routerLink="/babysittermonthlypartform"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
                        </li>
                     
               </ul>
         
         </div>


      </div>

<br><br><br>
   </div>
