<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
      <br><br><br><br>
          <div class="row">
            <div class="col-md-4"  >
    
                <ul  class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Home Management
                        - Rs 2000-3000/month</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                        Best TrustWorthy and Hygienic Workers

                        Cleaning.
                        Mopping.
                        Other house-hold works.
                        Mentio other requirements(if any) in form.
                        
                                                                                                    
                          
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                          </li>
                      
                </ul>
    
    
    
            </div>
            
            <div class="col-md-4" >
    
                <ul class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Offices
                        - Rs 6000-7000/month</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
    
                        Get Your Office Cleaned Before You Reach there.

                        Cleaner.
                        Watering Plants.
                        Mopping.
                        Mention Other Requirements(if any) in form.
                        
                        
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                        </li>
                      
                </ul>
             
             </div>
    
             <div class="col-md-4" >
               
                   <ul class="list-group">
                         <li style="height:200px;"class="list-group-item list-group-item-info"><h2> HouseKeeping Bulk Booking
                              - Rs 5000-6000/month</h2></li>
                         <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">
                              Order in Bulk and get worker at minimum cost.

                              Sweeper.
                              Mopping.
                              Washing floors.
                              watering Plants.
                              Mention other requirements(if any) in form.
                              
                              
                               
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
                            </li>
                         
                   </ul>
             
             </div>
    
    
          </div>
    
    <br><br><br>
       </div>
    