
  <div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
  <br><br><br><br>
      <div class="row">
        <div class="col-md-4"  >

            <ul  class="list-group">
                  <li class="list-group-item list-group-item-info"><h2>New Delhi/Ghaziabad</h2></li>
                  <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">757-C, Nyaykhand-2,Opposite of Aditya Mall, Indrapuram,Ghaziabad,Uttar Pradesh(201014)

                        24*7 Available
                        +91-9810902728
                        HelpingHandsltdservice@gmail.com                                                                                   
                      
                      
                      </li>
                  
            </ul>



        </div>
        
        <div class="col-md-4" >

            <ul class="list-group">
                  <li class="list-group-item list-group-item-info"><h2>Noida</h2></li>
                  <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Block-A,Sector-62, Near Expocentre, Noida, UttarPradesh(201309)

                        9:00 AM - 5:00 PM
                        +91-9113729176
                        HelpingHandsltdservice@gmail.com</li>
                  
            </ul>
         
         </div>

         <div class="col-md-4" >
           
               <ul class="list-group">
                     <li class="list-group-item list-group-item-info"><h2> Agra</h2></li>
                     <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Plot no-26,Prakash Enclave,Behind Marurti showroom,Agra(282005)

                           9:00 AM - 5:00 PM
                           +91-9354289692
                           HelpingHandsltdservice@gmail.com</li>
                     
               </ul>
         
         </div>


      </div>


   </div>

























  <div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
    <br><br><br><br>
  
      <div class="row">
        <div class="col-md-6" >
         
          <div class="card" style="box-shadow: 10px 10px; background-color:dodgerblue;" >
            
            <div class="card-body">
              <h4 class="card-title">OUR CLIENTS</h4>
              <p class="card-text">
                We Mostly focus on providing best services at your doorstep in Societies, Houses, Flats, Villas, Hotels and Corporate Offices. We also provide a range of services in other sectors such as Hospitals, School Worker, Collages, Store Worker, Office Worker.

                We Arrange workers for Occasions like Marriages /Birthday-Party /Kitty-Party and others .
              </p>
              
            </div>
          </div>

        </div>
        <div class="col-md-6">
        
          
          <img  src = "assets\images\our_clients.jpg" class = "rounded-circle" width="504" height="250"/>
            
         </div>
   </div>
   <br><br><br><br><br><br>

   </div>


   
    