
  






   <div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
  
<br>
      <div class="row">
          <div class="col-md-4" >
           
            <div class="card" style=" position:relative; height:100%; box-shadow: 10px 10px; background-color:lightcyan;" >
              
              <div class="card-body">
                <h4 class="card-title">New Delhi/Ghaziabad</h4>
                <p class="card-text">
                    757-C, Nyaykhand-2,Opposite of Aditya Mall, Indrapuram,Ghaziabad,Uttar Pradesh(201014)

                    24*7 Available
                    +91-9810902728
                    HelpingHandsltdservice@gmail.com  
                </p>
                
              </div>
            </div>
  
          </div>





          <div class="col-md-4" >
           
              <div class="card" style="position:relative; height:100%; box-shadow: 10px 10px; background-color:lightcyan;" >
                
                <div class="card-body">
                  <h4 class="card-title">Noida</h4>
                  <p class="card-text">
                      Block-A,Sector-62, Near Expocentre, Noida, UttarPradesh(201309)

                        9:00 AM - 5:00 PM
                        +91-9113729176
                        HelpingHandsltdservice@gmail.com

                  </p>
                  
                </div>
              </div>
    
            </div>






            <div class="col-md-4" >
           
                <div class="card" style="position:relative; height:100%; box-shadow: 10px 10px; background-color:lightcyan;" >
                  
                  <div class="card-body">
                    <h4 class="card-title">AGRA</h4>
                    <p class="card-text">
                        Plot no-26,Prakash Enclave,Behind Marurti showroom,Agra(282005)

                           9:00 AM - 5:00 PM
                           +91-9354289692
                           HelpingHandsltdservice@gmail.com
  
                    </p>
                    
                  </div>
                </div>
      
              </div>






  </div>
  </div>
















  <div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
    <br><br>
  
      <div class="row">
        <div class="col-md-6" >
         
          <div id="client_details" class="card" style="box-shadow: 10px 10px; background-color:lightblue;" >
            
            <div class="card-body">
              <h4 class="card-title">OUR CLIENTS</h4>
              <p class="card-text">
                Helping Hands Mostly focus on providing best services at your doorstep in Societies, Houses, Flats, Villas, Hotels and Corporate Offices. We also provide a range of services in other sectors such as Hospitals, School Worker, Collages, Store Worker, Office Worker.

                We Arrange workers for Occasions like Marriages /Birthday-Party /Kitty-Party and others .
              </p>
              
            </div>
          </div>

        </div>
        <div class="col-md-6">
        
          
            
          <img id="client_image"  src = "assets\images\our_clients.jpg" class = "rounded-circle" />
          
        
         </div>
   </div>
   <br>

   </div>


   
    