


<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
  <br><br><br>
    <div class="row">
      <div class="col-md-4" >

          <ul class="list-group">
                <li class="list-group-item list-group-item-info"><h2>One Day Maid Service
                    - Rs 99/day.</h2></li>
                <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Quick Service for less than 3BHK Flats.

                    Home cleaning
                    Mopping
                    Vessel cleaning</li>
                
          </ul>



      </div>
      
      <div class="col-md-4" >

          <ul class="list-group">
                <li class="list-group-item list-group-item-info"><h2>Monthly Maid Service
                    - Rs 2000 or less/month</h2></li>
                <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Monthly Service for less than 3 BHK Flats.

                    Home Cleaning
                    Mopping
                    Vessel cleaning</li>
                
          </ul>
       
       </div>

       <div class="col-md-4" >
         
             <ul class="list-group">
                   <li class="list-group-item list-group-item-info"><h2> One Day House Keeping
                      - Rs 500/worker per hour</h2></li>
                   <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Quick Service for Parties.

                      Full Cleaning
                      Garbage Collection
                      Plates removal
                      Table Arrangement
                      Others as per need</li>
                   
             </ul>
       
       </div>


    </div>


<br><br>

    <div class="row">
        <div class="col-md-4" >
  
            <ul class="list-group">
                  <li class="list-group-item list-group-item-info"><h2>Corporates House Keeping
                      - Rs 6000/worker per month</h2></li>
                  <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Monthly Services in corporate Offices and buildings

                      Sweeping
                      Mopping
                      Bathroom Cleaning
                      Garbage Removal</li>
                  
            </ul>
  
  
  
        </div>
        
        <div class="col-md-4" >
  
            <ul class="list-group">
                  <li class="list-group-item list-group-item-info"><h2> Monthly Cook 
                      - Rs 2000/month</h2></li>
                  <li style="height:200px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Monthly Service for hygienic food cook

                      Every day food
                      Taste according to you
                      Name the food and we make it</li>
                  
            </ul>
         
         </div>
  
         
  
  
      </div>
      <br><br><br><br><br>

 </div>

