<div style="background:orangered; font-family:'Krona One';word-spacing:5px; " class="container-fluid">
    <br><br><br><br>
    <div class="card" style="position:relative; width:40%; box-shadow: 20px 20px 30px; margin-left:30%; border-left: 6px solid red;  background-color: lightgrey; " >
    
    <form action="" style="padding: 50px 50px 50px 50px;">
    <div class="form-group">
      SERVICE TYPE:
      <input type="text" class="form-control" id="service_type">
    </div>
    <div class="form-group">
      FULL NAME:
      <input type="text" class="form-control" id="fname">
    </div>
    <div class="form-group">
      EMAIL:
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      PHONE:
      <input type="number" class="form-control" id="phone">
    </div>
    <div class="form-group">
      ADDRESS:
      <input type="text" class="form-control" id="address">
    </div>
    <div class="form-group">
      OTHER REQUIREMENTS:
      <input type="text" class="form-control" id="other">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>

<br><br><br>


</div>
