<div class="container-fluid" style="font-family:'Tienne';word-spacing:5px; background: orangered;">
          
  
  <div class="row">

    <div class="col-md-4" >
      <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
        <img  src = "assets\images\maids.jpg" class = "rounded-circle" width="504" height="250"/>
        <div class="card-body">
          <h4 class="card-title">Maid Service MONTHLY/WEEKLY/ONE DAY</h4>
          <p class="card-text">
              We provide a wide range of Maid Services in Delhi, Noida, Ghaziabad, Gurugram and Agra.
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-4" >
        <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
          <img  src = "assets\images\housekeeping.jpg" class = "rounded-circle" width="504" height="250"/>
          <div class="card-body">
            <h4 class="card-title">House Keeping MONTHLY/WEEKLY/DAILY/PARTIES</h4>
            <p class="card-text">
                Our House Keeping Service is one of the Best Trusted and Hygienic Services out there.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4" >
          <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
            <img  src = "assets\images\cook.jpg" class = "rounded-circle" width="504" height="250"/>
            <div class="card-body">
              <h4 class="card-title">Cook/ Chef REGULAR/PART-TIME/ONE DAY</h4>
              <p class="card-text">
                  Say No More to Unhygienic food ordered from some restaurants, Get it made by our best cooks at your home.
              </p>
            </div>
          </div>
        </div>

      </div>
    




        <div class="row">
        <div class="col-md-4" >
            <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;" >
              <img  src = "assets\images\elderlycare.jpg" class = "rounded-circle" width="504" height="250"/>
              <div class="card-body">
                <h4 class="card-title">Elderly Care MONTHLY/WEEKLY/SINGLE DAY</h4>
                <p class="card-text">
                    Don't Worry about you elders anymore we are there to take care of them as you focus on important stuff.
                </p>
              </div>
            </div>
          </div>
      
      
          <div class="col-md-4" >
              <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
                <img  src = "assets\images\bathroom.jpg" class = "rounded-circle" width="504" height="250"/>
                <div class="card-body">
                  <h4 class="card-title">Bathroom Cleaner ONE-TIME/WEEKLY/MONTHLY</h4>
                  <p class="card-text">
                      We take care of your hygiene as you take care of important stuff.
                  </p>
                </div>
              </div>
            </div>
      
      
            <div class="col-md-4" >
                <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px 10px; background-color:MediumTurquoise ;">
                  <img  src = "assets\images\babysitter.jpg" class = "rounded-circle" width="504" height="250"/>
                  <div class="card-body">
                    <h4 class="card-title">Baby Sitter WEEK-DAYS/WEEKLY/MONTHLY/FULL-TIME</h4>
                    <p class="card-text">
                        We have professional trained Baby-Sitter for better family support and growth of your precious baby.
                   </p>
                  </div>
                </div>
              </div>
      


</div>
</div>



















<div style="font-family:'Tienne';word-spacing:5px; background: orangered;" class="container-fluid">
  <br><br>        
  
  <div class="row">
    <div class="col-md-6" >
     
      <div class="card" style="box-shadow: 10px 10px; background-color:dodgerblue;" >
        
        <div class="card-body">
          <h4 class="card-title">OUR CLIENTS</h4>
          <p class="card-text">
            We Mostly focus on providing best services at your doorstep in Societies, Houses, Flats, Villas, Hotels and Corporate Offices. We also provide a range of services in other sectors such as Hospitals, School Worker, Collages, Store Worker, Office Worker.

            We Arrange workers for Occasions like Marriages /Birthday-Party /Kitty-Party and others .
          </p>
          
        </div>
      </div>

    </div>
    <div class="col-md-6">
    
      
      <img  src = "assets\images\our_clients.jpg" class = "rounded-circle" style="position:relative; max-height:200px; width:100%;"/>
        
     </div>
</div>
<br><br>  
</div>






