<div style="background: orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
      <br><br><br><br>
          <div class="row">
            <div class="col-md-4"  >
    
                <ul  class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>One Time Bathroom Cleaner
                        - Rs 150</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">    
                        Get fresh bathroom in less than half an hour.

                        Uses best chemical
                        Floor cleaning
                        Drying floor and Sitting Pod                                                                              
                          
                            <br><br><br>
                            <a routerLink="/booking-form"> <button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                          </li>
                      
                </ul>
    
    
    
            </div>
            
            <div class="col-md-4" >
    
                <ul class="list-group">
                      <li style="height:200px;" class="list-group-item list-group-item-info"><h2>Weekly Bathroom Cleaner - Rs 500/month</h2></li>
                      <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">    
                        Every week get your bathroom cleaned for better hygiene

                        Hygienic cleaning
                        Best Chemicals
                        Floor Cleaning
    
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
    
                        </li>
                      
                </ul>
             
             </div>
    
             <div class="col-md-4" >
               
                   <ul class="list-group">
                         <li style="height:200px;"class="list-group-item list-group-item-info"><h2> Quick Bathroom Maintenance - Rs 500-1000</h2></li>
                         <li style="height:300px; box-shadow: 10px 10px 5px;" class="list-group-item list-group-item-secondary">Any type of Fault in the Bathroom

                              Quick Fixture
                              Plus Cleaning
                              Within an hour support
                              
                               
                            <br><br><br>
                            <a routerLink="/booking-form"><button style="position:relative; width:100%; height:30%;" type="button" class="btn btn-success">BOOK</button></a>
                            </li>
                         
                   </ul>
             
             </div>
    
    
          </div>
    
    <br><br><br>
       </div>
    