




 

      <div style="background:orangered; font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
<br>
         <div class="container">
          <div class="jumbotron">
              <h3> CHOOSE YOUR SERVICE </h3>
            <h5 style="font-size:15px;">PRESENTLY HELPING HANDS SERVICES ARE AVAILABLE IN </h5>      
            <button style="width:150px;" type="button" class="btn btn-secondary">Indirapuram</button>
    <button style="width:150px;" type="button" class="btn btn-secondary">Noida</button><br>
    <button style="width:150px;" type="button" class="btn btn-secondary">Delhi-Ncr</button>
    <button style="width:150px;" type="button" class="btn btn-secondary">Delhi</button><br>
    <button style="width:150px;" type="button" class="btn btn-secondary">Gurgaon</button><br>
          </div>
              
        </div>

        <div  class="row">
          <div class="col-md-4" >
           
            <div id="maids" class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan;" >
              
              <div class="card-body">
                <h4 class="card-title">MAIDS</h4>
                <p class="card-text">
                  House cleaner/Vessel cleaner/Japa maid/Corporate maids and many more
                </p>
                
                <br>
                <a routerLink="/maids"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
              </div>
            </div>

          </div>

          <div class="col-md-4" >
           
            <div id="housekeeping" class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan;" >
              
              <div class="card-body">
                <h4 class="card-title">HOUSEKEEPING</h4>
                <p class="card-text">
                  Home Management/Cleaning/Cooking/Corporate House keeping and many more
                </p>
                <br>
                <a routerLink="/housekeeping"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
              </div>
            </div>

          </div>


          <div class="col-md-4" >
           
            <div id="cook" class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan;" >
              
              <div class="card-body">
                <h4 class="card-title">COOK/CHEF</h4>
                <p class="card-text">
                  One Day cook/monthly cook/Parties Special Chef and many more
                </p>
                <br>
                <a routerLink="/cook"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
              </div>
            </div>

          </div>

          
     </div>
      
     <div class="separator">
      <br>
     </div>


     
          
  
      <div class="row">
        <div class="col-md-4" >
         
          <div id="bathroom" class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan ;" >
            
            <div class="card-body">
              <h4 class="card-title">BATHROOOM CLEANER</h4>
              <p class="card-text">
                One Time Cleaner/Weekend Services/Deep Cleaning and many more
              </p>
              <br>
              <a routerLink="/bathroom-cleaner"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
            </div>
          </div>

        </div>  

        <div class="col-md-4" >
         
          <div id="elderly" class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan ;" >
            
            <div class="card-body">
              <h4 class="card-title">ELDERLY CARE</h4>
              <p class="card-text">
                Full time/Half time elderly care taker
              </p>
              <br>
              <a routerLink="/elderly-care"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
            </div>
          </div>

        </div>


        <div id="baby" class="col-md-4" >
         
          <div class="card" style="position:relative; height:300px; width:100%; box-shadow: 10px 10px 10px; background-color:lightcyan ;" >
            
            <div class="card-body">
              <h4 class="card-title">BABY SITTER</h4>
              <p class="card-text">
                Full-time/Half-time Baby Sitter
              </p>
              <br>
              <a routerLink="/baby-sitter"><button type="button" class="btn btn-outline-danger">BOOK SERVICE</button></a>
              
            </div>
          </div>

        </div>

        
   </div>


<br>




      <div  style="font-family:'Tienne';word-spacing:5px;" class="container-fluid">
        <div class="jumbotron" >
        <h1>Upcoming Services</h1>
        <p>HELPING HANDS will be introducing few new services at our prime locations,New Delhi/Gurugram/Noida soon.</p>
        </div>
        
        <div class="container-fluid">
          
          
          
          <div class="row">
            <div class="col-md-4" >
             
              <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px; background-color: lightcyan;" >
                
                <img  src = "assets\images\security_guard.jpg" class = "rounded-circle" style="position:relative; max-height:100px; width:100%; "/>
                 <div class="card-body">
                  <h4 class="card-title">Security Guard </h4>
                  <p class="card-text">Helping Hands trains to Protect and enforce laws on an employer’s property,Monitor alarms and closed-circuit TV cameras ,Control access for employees, visitors, and outside contractors ,Conduct security checks over a specified area ,Write comprehensive reports outlining what they observed while on patrol , Interview witnesses for later court testimony ,Detain criminal violators</p>
                  <button href="" class="btn btn-primary" data-toggle="collapse" data-target="#note1form">INTERESTED?</button>
                  <div id="note1form" class="collapse">
                   
                    <h3>SEND US A NOTE</h3>
                 
            <app-menu></app-menu>

                  </div>



                </div>
              </div>

            </div>
            <div class="col-md-4" >
            
              <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px ; background-color:lightcyan" >
                <img  src = "assets\images\driver1.jpg" class = "rounded-circle" style="position:relative; max-height:100px; width:100%;"/>
                <div class="card-body">
                  <h4 class="card-title">Driver </h4>
                  <p class="card-text">
                    Driving is the controlled operation and movement of a motor vehicle, including cars, motorcycles, trucks, and buses. Permission to drive on public highways is granted based on a set of conditions being met and drivers are required to follow the established road and traffic laws in the location they are driving.
                  </p>
                 
             
                  <button class="btn btn-primary" data-toggle="collapse" data-target="#note2form">INTERESTED?</button>
                  <div id="note2form" class="collapse">
                   
                    <h3>SEND US A NOTE</h3>
                   <app-menu></app-menu>

                  </div>



                </div>
              </div>

            

            </div>
            <div class="col-md-4" >
            
              <div class="card" style="position:relative; height:100%; width:100%; box-shadow: 10px 10px; background-color:lightcyan;">
                <img  src = "assets\images\store_worker.jpg" class = "rounded-circle"  style="position:relative; max-height:100px; width:100%;" />
                <div class="card-body">
                  <h4 class="card-title">Store Workers</h4>
                  <p class="card-text">
                    Stores Worker and Storekeeper. ... Stores Worker is the operational level requiring operation of powered materials handling equipment. Senior Storekeeper is the advanced operational or working supervisory level. Stores Supervisor is the full supervisory level, and Senior Stores Supervisor is the first managerial level.
                  </p>
                  

                  <button  class="btn btn-primary" data-toggle="collapse" data-target="#note3form">INTERESTED?</button>
                  <div id="note3form" class="collapse">
                   
                    <h3>SEND US A NOTE</h3>
                
             
                 <app-menu></app-menu>

                  </div>


                </div>
              </div>

            </div>
          </div>
          <br>
      
          
          
    
        </div>
      </div>





      






      <div style="font-family:'Tienne';word-spacing:5px;" class="container-fluid">
          
  
        <div class="row">
          <div class="col-md-6" >
           
            <div id="client_details" class="card" style="box-shadow: 10px 10px; background-color:lightblue;" >
              
              <div class="card-body">
                <h4 class="card-title">OUR CLIENTS</h4>
                <p class="card-text">
                    Helping Hands Mostly focus on providing best services at your doorstep in Societies, Houses, Flats, Villas, Hotels and Corporate Offices. We also provide a range of services in other sectors such as Hospitals, School Worker, Collages, Store Worker, Office Worker.

                  We Arrange workers for Occasions like Marriages /Birthday-Party /Kitty-Party and others .
                </p>
                
              </div>
            </div>
 
          </div>
          <div class="col-md-6">
          
            
            <img  id="client_image" src = "assets\images\our_clients.jpg" class = "rounded-circle" />
              
           </div>
     </div>

     
     </div>


