@media only screen and (max-width: 600px) {

    img#client_image{

        position:relative; width:100%; height:100%;
    }

    h4.card-title{
        font-size:15px;
    }

    p.card-text{
        font-size: 13px; 
    }

    div.separator {
        display: none;
      }
    

  
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    img#client_image{

        position:relative; width:100%; height:100%;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    img#client_image{

        position:relative; width:100%; height:100%;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img#client_image,div#client_details{

        position:relative; width:100%; height:80%;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    img#client_image,div#client_details{

        position:relative; width:100%; height:80%;
    }
}